# Ignore the OpenPBTA histologies dataset
data/**/pbta-*

# Ignore the PLIER model generated in setup
results/plier/medulloblastoma_plier_model.rds

# Ignore folder for prepping upload
for_upload/

# Ignore folder for getting the package files together
components/

# Ignore folder with plots -- created during instruction
plots/
